body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header, footer {
    background-color: purple;
    color: white;
    padding: 1rem;
  }
  header nav{
    display: flex;
    justify-content: flex-end;
  }
  
  header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  
  }
  
  header a {
    color: purple;
    text-decoration: none;
    background-color: pink;
    border: 2px solid purple;
    border-radius: 20%;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  header a:hover{
    background-color: purple;
    color: white;
  }
  
  .project-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
 
#mainPage{
  text-align: center;
}
#name{
  text-align: center;
}
footer{
  text-align: center;
}
